@import url(https://fonts.googleapis.com/css?family=Kalam);

body{

  background-color:#f0f0f0;
  font-family:helvetica;
}

h1{
  padding-top: 30px;
  font-family: 'Kalam', cursive;
}
#logo{
  width: 150px;
  float:left;
}

.input{
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  border-radius:5px;

}
.images{
  visibility: hidden;
  padding-top: 15px;
  background-color: white;
  border-radius:5px;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  padding-left: 5px;
  padding-right :5px;

  -moz-column-count:5;
-moz-column-gap: 5%;
-moz-column-width: 50%;
-webkit-column-count:5;
-webkit-column-gap: 5%;
-webkit-column-width: 50%;
column-count: 5;
column-gap: 5%;
column-width: 50%;

}/*
div{
  border: 1px solid black ;
}*/

.image {
  /*  width: 216px;*/
  /*  height: 162px;*/
    overflow: hidden;
    margin : 2px;
    /*display: inline-block;*/
    position:relative
}

.image img{
/*  width: 216px;*/
  transition:width .4s;
}
.image img:hover{
  /*width: 104%;*/
}
.form{
  padding: 25px;
  margin-bottom: 20px;

}

.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
}

.textbox:focus{
  outline:none;
   border:#1895D7 2px solid;
   color:#1895D7;
}

.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(24,149,215,1) 0px solid;

  background:rgba(24,149,215,1);
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;

}

.button:hover{
  background:#0875AE;
  background: url("../img/fuse.png");
  background-repeat: no-repeat;
  background-position: center;
    border:#1895D7 2px solid;

}
.dropdown{
  float: left;
}
.resol{
  margin-left: 20px;
}
.dropdown p {
  padding-top:0px;
	display: inline-block;
	font-weight: bold;
  font-size: 17px;
}
span{

/*  position: absolute;*/
background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
color: #FFF;
left: 0px;
width: 100%;
bottom: 0px;
padding: 5px 5px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
box-sizing: border-box;
font-size: 15px;
}
.dropdown select {
        border:#1895D7 1px solid;
    /*  border: 0 !important; */ /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('../img/arrow.png') no-repeat;  /*Adds background-image*/
      background-position: 83px 4px;  /*Position of the background-image*/
      width: 100px; /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/

      /*My custom style for fonts*/
      color: #1455a2;
}
.dropdown select:hover{

}

@media (max-width: 500px) {
  .input{
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    position:fixed;
      z-index: 3;
  }
  .images{
    padding-top: 250px;
  }
  form{
    margin-bottom: 0px;
  }
  .image {
      width: 150px;
      height: 150px;
      overflow: hidden;
      margin : auto;
      display: inline-block;
  }
  .image img{
    width: 150px;
  }
  h1{
    padding-top: 0px;
    font-family: 'Kalam', cursive;
    font-size: 120%;
  }
  #logo{
    width: 60px;

  }

  .textbox{
    height:30px;
    width: auto;
    float: left;
  }
  .button{

    height:30px;
    width: auto;
    border : 2px;
    font-size: 10pt;

  }
  .button:hover{
  background-size: 200%;

  }
  .dropdown{
    float: none;
  }
  .resol{
    margin-left: 0px;
  }
}
